In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in e:\anaconda\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in e:\anaconda\lib\site-packages (from mysql-connector-python) (3.20.3)

In [11]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="1234567890",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    #print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

In [12]:
cur = cursor.fetchall()

In [13]:
cur

[('information_schema',),
 ('mysql',),
 ('nigga',),
 ('performance_schema',),
 ('shaurya',),
 ('student',),
 ('sys',)]

In [14]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="1234567890",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "Create database Student;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1007 (HY000): Can't create database 'student'; database exists

In [15]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="1234567890",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1050 (42S01): Table 'studentdetails' already exists

In [16]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="1234567890",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1062 (23000): Duplicate entry '1132' for key 'studentdetails.PRIMARY'

In [17]:
 mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="1234567890",use_pure=True)

In [18]:
cur = mydb.cursor()

In [19]:
cur.execute("INSERT INTO StudentDetails VALUES ('1200','Sachin','Kumar','1997-11-11','Eleventh','A')")
cur.execute("INSERT INTO StudentDetails VALUES ('1211','Sachin','Seth','1997-11-11','Eleventh','A')")
cur.execute("INSERT INTO StudentDetails VALUES ('1222','Sachin','Tiwari','1997-11-11','Eleventh','A')")
cur.execute("INSERT INTO StudentDetails VALUES ('1289','Sachin','Gupta','1997-11-11','Eleventh','A')")
cur.execute("INSERT INTO StudentDetails VALUES ('1900','Sachin','Singh','1997-11-11','Eleventh','A')")

IntegrityError: 1062 (23000): Duplicate entry '1200' for key 'studentdetails.PRIMARY'

In [20]:
mydb.commit()

In [21]:
cur1 = mydb.cursor()
cur1.execute('select * from studentdetails')

In [22]:
for i in cur1.fetchall():
    print(i)

(1132, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1133, 'Sachin', 'Seth', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1134, 'Sachin', 'Tiwari', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1135, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1139, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1200, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1211, 'Sachin', 'Seth', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1222, 'Sachin', 'Tiwari', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1289, 'Sachin', 'Gupta', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1900, 'Sachin', 'Singh', datetime.date(1997, 11, 11), 'Eleventh', 'A')

In [23]:
cur = mydb.cursor()
cur.execute('select firstname, lastname from Studentdetails')

In [24]:
for i in cur.fetchall():
    print(i)

('Sachin', 'Kumar')
('Sachin', 'Seth')
('Sachin', 'Tiwari')
('Sachin', 'Kumar')
('Sachin', 'Kumar')
('Sachin', 'Kumar')
('Sachin', 'Seth')
('Sachin', 'Tiwari')
('Sachin', 'Gupta')
('Sachin', 'Singh')

In [25]:
import pandas as pd

In [26]:
mydb

In [27]:
pd.read_sql('select * from Studentdetails',mydb)

E:\anaconda\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   Studentid FirstName LastName RegistrationDate     Class Section
0       1132    Sachin    Kumar       1997-11-11  Eleventh       A
1       1133    Sachin     Seth       1997-11-11  Eleventh       A
2       1134    Sachin   Tiwari       1997-11-11  Eleventh       A
3       1135    Sachin    Kumar       1997-11-11  Eleventh       A
4       1139    Sachin    Kumar       1997-11-11  Eleventh       A
5       1200    Sachin    Kumar       1997-11-11  Eleventh       A
6       1211    Sachin     Seth       1997-11-11  Eleventh       A
7       1222    Sachin   Tiwari       1997-11-11  Eleventh       A
8       1289    Sachin    Gupta       1997-11-11  Eleventh       A
9       1900    Sachin    Singh       1997-11-11  Eleventh       A

In [28]:
a = pd.read_sql('select LastName, FirstName from Studentdetails',mydb)

E:\anaconda\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [29]:
a

  LastName FirstName
0    Kumar    Sachin
1     Seth    Sachin
2   Tiwari    Sachin
3    Kumar    Sachin
4    Kumar    Sachin
5    Kumar    Sachin
6     Seth    Sachin
7   Tiwari    Sachin
8    Gupta    Sachin
9    Singh    Sachin

In [30]:
a.to_csv('mydata.csv')

In [31]:
 mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="1234567890",use_pure=True)

In [32]:
mydb

In [33]:
cur = mydb.cursor()
cur.execute("create table mydata(n1 int(20), n2 varchar(20), n3 date)")

ProgrammingError: 1050 (42S01): Table 'mydata' already exists

In [34]:
data = pd.read_csv('mydata.csv')
data

   Unnamed: 0 LastName FirstName
0           0    Kumar    Sachin
1           1     Seth    Sachin
2           2   Tiwari    Sachin
3           3    Kumar    Sachin
4           4    Kumar    Sachin
5           5    Kumar    Sachin
6           6     Seth    Sachin
7           7   Tiwari    Sachin
8           8    Gupta    Sachin
9           9    Singh    Sachin

In [35]:
data.to_sql('mydata.csv', mydb)

E:\anaconda\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [51]:
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="1234567890",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database Physics2;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'Physics2',user="root", passwd="1234567890", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS Physics3 (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('bidsquare.data', "r") as f:
        next(f)
        bidsqaure_data = csv.reader(f, delimiter="\n")
        for line in enumerate(bidsquare_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO Physics3 values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

True
1007 (HY000): Can't create database 'physics2'; database exists

In [52]:
import mysql.connector as connection
import pandas as pandas
import csv
mydb = connection.connect(host="localhost", user="root", passwd="1234567890",use_pure=True)

In [54]:
cur = mydb.cursor()
cur.execute("CREATE TABLE  student.student1 (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))")

In [56]:
with open('mydata.csv',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1] :
            cur.execute('insert into student.student1 values ({data})'.format(data=(j)))
    print("all the data inserted ")
mydb.commit()

<_csv.reader object at 0x000001A0D6914640>
(0, ['0,Kumar,Sachin'])

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [58]:
with open('mydata.csv',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1] :
            print(type(j))
            cur.execute('insert into student.student1 values ({data})'.format(data=(j)))
    print("all the data inserted ")
mydb.commit()

<_csv.reader object at 0x000001A0D68EBBE0>
(0, ['0,Kumar,Sachin'])
<class 'str'>

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [59]:
with open('mydata.csv',"r") as data :
    next(data)
    data_csv = csv.reader(data, delimiter= "\n")
    print(data_csv)
    for j in data_csv :
        cur.execute(f'insert into sudhanshu12345.GlassData values (str(j[0]))')
    print("all the data inserted ")
mydb.commit()

<_csv.reader object at 0x000001A0D68F8700>

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[0]))' at line 1